/app/etc/local.xml
/media/catalog
/media/captcha
/dev/tests/functional/generated
/dev/tests/functional/vendor
/app/etc/local.xml.additional
/app/etc/local.xml.template
/downloader/
/skin/install/
/var/package/
/.all-contributorsrc
/.github
/.htaccess.sample
/.travis.yml
/CODE_OF_CONDUCT.md
/composer.json
/index.php.sample
/install.php
/LICENSE_AFL.txt
/LICENSE.html
/LICENSE.txt
/php.ini.sample
/README.md
/RELEASE_NOTES.txt
/SECURITY.md
/EVENTS.md
