<?xml version="1.0"?>
<config>
    <modules>
        <Kiatng_AiAgent>
            <version>0.1.1</version>
        </Kiatng_AiAgent>
    </modules>
    <global>
        <models>
            <aiagent>
                <class>Kiatng_AiAgent_Model</class>
                <resourceModel>aiagent_resource</resourceModel>
            </aiagent>
            <aiagent_resource>
                <class>Kiatng_AiAgent_Model_Resource</class>
                <entities>
                    <chat>
                        <table>aiagent_chat</table>
                    </chat>
                    <chat_message>
                        <table>aiagent_chat_message</table>
                    </chat_message>
                </entities>
            </aiagent_resource>
        </models>
        <blocks>
            <aiagent>
                <class>Kiatng_AiAgent_Block</class>
            </aiagent>
        </blocks>
        <helpers>
            <aiagent>
                <class>Kiatng_AiAgent_Helper</class>
            </aiagent>
        </helpers>
        <resources>
            <aiagent_setup>
                <setup>
                    <module>Kiatng_AiAgent</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aiagent_setup>
            <aiagent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aiagent_write>
            <aiagent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aiagent_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <aiagent>
                <use>standard</use>
                <args>
                    <module>Kiatng_AiAgent</module>
                    <frontName>aiagent</frontName>
                </args>
            </aiagent>
        </routers>
        <layout>
            <updates>
                <aiagent>
                    <file>aiagent.xml</file>
                </aiagent>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <aiagent>
                    <file>aiagent.xml</file>
                </aiagent>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Kiatng_AiAgent before="Mage_Adminhtml">Kiatng_AiAgent_Adminhtml</Kiatng_AiAgent>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <aiagent>
            <general>
                <enabled>0</enabled>
                <customer_groups>1,2,3</customer_groups>
            </general>
            <api>
                <provider>openai</provider>
                <model>gpt-4</model>
                <key backend_model="adminhtml/system_config_backend_encrypted"></key>
            </api>
            <features>
                <enable_web_search_admin>1</enable_web_search_admin>
                <enable_rag>1</enable_rag>
                <enable_cag>1</enable_cag>
            </features>
        </aiagent>
    </default>
</config>
